In [29]:
import pandas as pd

In [30]:
# df = pd.DataFrame(
#             {"a": [4,5,6],
#              "b": [7,8,9],
#              "c": [10,11,12]},
#             index = [1,2,3])
# df

In [31]:
df = pd.DataFrame(
        [
            [4,7,10],
            [5,8,11],
            [6,9,12]],
            index=[1,2,3],
            columns=['a','b','c'])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [32]:
df = pd.melt(df)
df

  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12

In [34]:
df = pd.melt(df).rename(columns={
            'variable':'var',
            'value':'val'}).query('val' >= 10)

ValueError: value_name (value) cannot match an element in the DataFrame columns.

In [20]:
df

  var  val
6   c   10
7   c   11
8   c   12